/* Created by Carl Karama for Utopian Societies */


/* .delete_container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mysection_data {
  width:auto;
  height: auto;
  border: solid 2px #FEC221;
  border-radius: 5px;
  margin:10px;
  float: left;
  padding:10px;
}

.confirm_delete {
  padding-right: 10px;
  margin-right: 10px;
} */
