/* Site Created by Carl Karama for Utopian Societies */

.modify-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.modify-table-content {
  color: black;
  padding: 8px;
  text-align: left;
  border: 1px solid #FEC221;
}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}
