/* Created by Carl Karama for Utopian Societys */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  font-size: 14px;
  overflow-x: hidden;
  background-color:white;
}

/* table */
.product-info {
  position: relative;
}

/* product image and gallery */
  #product-image {
    width: 428px;
    height: 324px;
    /* 428 × 324 */
  }

.product-container {
  top: 12%;
  width: 70%;
  height: 400px;
  padding-left: 20%;
  /* background-color: #333; */
  position: relative;   
}

.product-gallery img {
  padding-left: 10%;
}

/* select size position */
.product-attributes {
  width: 35%;
  height: 7%;
  margin-left: 10px;
  padding: 5px;
  background-color: #FFFFFF;
}

/* select size,color attributes  */
.product-select-attributes {
  z-index: 1;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background: none;
  /* padding-left: 19px; */
  font-family: 'agencyfbbold';
}

/* container for product details */
.product-details {
  top: 12%;
  width: 25%;
  right: 5%;
  height: auto;
  padding: 2px;
  position: absolute;
  background-color: #EEEEEE;
}


.brand {
  margin-top: 10px;
  width: 20%;
  padding-left: 10px;
  height: 20px;
  position: relative;
}

.product-brand-tag {
  border-radius: 15px;
  text-align: center;
  background-color: #FEC221;
}

.category {
  width: 20%;
  height: 30px;
  margin-top: -20px;
  margin-left: 24%;
  position: relative;
}

.product-category-tag {
  border-radius: 15px;
  text-align: center;
  background-color: #FEC221;
}

.product-name {
  top: -25px;
  width: auto;
  height: 20px;
  border: 1px;
  padding-left: 10px;
  position: relative;
}

.product-n {
  font-size: 32px;
}

.product-price {
  width: auto;
  height: 20px;
  border: 1px;
  margin-top: -15px;
  padding-left: 10px;
  padding-bottom: 6%;
  position: relative;
}

.product-p {
  font-size: 25px;
}

.product-add-to-cart {
  top: 13px;
  width: auto;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.product-atc a {
  border: 1px;
  width: auto;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: white;
}

.product-atc a:visited {
    width: auto;
    color: white;
    /* padding: 14px 25px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    background-color: #f44336;

  }
  
  .product-atc a:hover,.product-atc a:active {
    background-color: red;
  }

  /* product description */
  .product-description {
    width: auto;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
  }

  .product-d {
    font-size: 15px;
  }

.wrapper {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

nav {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: inline-block;
  background-color: #333;
}

.toggle {
  width: 100%;
  display: none;
  padding: 10px 20px;
  text-align: left;
  box-sizing: border-box;
  color: #f2f2f2;
  font-size: 30px;
}

#searchpos {
  float: right;
  margin-top: -3.2%;
  padding-bottom: 4px; 
  padding-right: 15px;
}

.mysearchbtn {
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: 1px solid #4caf50;
  border-radius: 2px;
  padding: 4px;
}

.myinput {
  border: none;
  outline: none;
  background: none;
  color: #FEC221;
  font-size: 18px;
  float: left;
}

@media screen and (max-width: 958px) {
  
  .product-container {
    top: 12%;
    width: 70%;
    height: 400px;
    padding-left: 20%;
    position: relative;   
  }

  .product-details {
    top: 12%;
    width: 55%;
    left: 25%;
    right: 25%;
    height: auto;
    padding: 2px;
    position: relative;
    background-color: #EEEEEE;
  }
}

@media screen and (max-width: 958px) {
  .toggle {
    display: block;
    text-align: left;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block; 
    text-align: left;
  }

  .active {
    display: block;
  }

  #searchpos {
    float: right;
    margin-top: -2%;
    padding-bottom: 8px; 
    padding-right: 15px;
  }
}